.text-green{

    color:#119083;  

}

.back-green{

  background: linear-gradient(120deg, #015754, #4fbdb2, #4fbdb2);
  
  /* background-color:  #C1A43A; */
}

.background-lightgreen{
  background-color: rgb(92, 199, 188);

}
.half-circle{
  border-radius: 175px 172px 10px 10px;
  
}

.box:hover{
  background: linear-gradient(120deg, #4fbdb2, #4fbdb2,#015754,);
  transition: .3s ease;
  transform: scale(1.05);
}

.box{
  box-shadow: -7px 6px 7px -3px rgba(102,102,102,1);
}

.img-hover:hover{
  transition: .3s ease;
  transform: scale(1.2);
}

.img1-hover:hover{
  transition: .3s ease;
  transform: scale(0.8);
}


.magicpattern { 
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    background-image: url("./images/magicpattern-polka-dot-pattern-1740047307402.png");
  }


/* .dropbtn {
    cursor: pointer;
} 
.dropdown {
    position: relative;
    display: inline-block;
}  
.dropdown-content {
    display: none;
    color: black;
    position: absolute;
    min-width: 250px;
    box-shadow: 0px 5px 12px 0px rgba(0,0,0,0.1);
    z-index: 1;  
}
.dropdown-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    display: block;   
}
.dropdown:hover .dropdown-content {
    display: block;
} */


.nav-item {
    padding: 0.5rem 0xp;
  }
  
  /* .dropdown-hover:hover>.dropdown-menu {
  display: inline-block;
  } */
  
  .dropdown-hover>.dropdown-toggle:active {
  /* Without this, clicking will make it sticky */
  pointer-events: none;
  }




/* .bgimg{
    background-image: url("./images/main\ page.png");
    height: 750px;
    width: 100%;
    background-color: #0E1422;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;   
} */

video {
  object-fit: cover;
}

.bg-overlay {
  background-color: rgba(250, 250, 250, 0.85);
  /* Optional: white semi-transparent overlay */
  min-height: 80vh;
}
/* background-color: rgba(255, 255, 255, 0.85); */
.circle {
    height: 70px;
    width: 70px;
    /* border-radius: 50%; */
    border: 2px solid white;
    /* display:none; */
  }

  .line{
    height: 5px;
    width: 50px;
    border-radius: 5px;
    background-color: white;
  }



.image-box{
  height: 30px;
  width:35px
}

/* 
.circle-1 {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border: 2px solid white;

}
.circle-1 i {
  font-size: 19px;
} */

/* .box-shadow:hover{
  border-bottom-color: rgba(2, 43, 80, .2);
    border-bottom-width: 1px;
    cursor: pointer;
    height: 4rem;
    justify-content: space-between;
} */



.hoverlinks a:hover{
  color:#119083;  
}

.headline-img{
  height: 500px;
  width: 500px;
}


  .card-header-custom {
    height: 70px; /* Equal height for all headers */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 10px;
  }
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  }
  .box p {
    font-size: 0.95rem;
  }
  @media (max-width: 576px) {
    .card-header-custom {
      height: auto;
      padding: 10px;
      text-align: center;
    }
  }




